<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Rails Girls Events</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>

</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div id="background">
    <header>
      <div class="container_12">
        <a href="/">
          <%= image_tag('rgs_white_460x90.svg', size: '260x32', alt: 'Rails Girls Sydney, Australia') %>
        </a>
        <div class="nav-links">
        <% if admin_signed_in? %>
          <%= link_to 'Events', events_path, class: 'user-link' %>
          <%= link_to 'Sign Out', destroy_admin_session_path, class: 'user-link' %>
        <% end %>
      </div>
      </div>
    </header>

    <div id="container">
      <%= yield %>
    </div>

  </div>
</body>
</html>
